.done {
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center;
}

.inProgress {
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center;
    animation: inProgress 1s ease infinite alternate;
}

@keyframes inProgress {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.undone .checkedIcon,
.inProgress .checkedIcon {
    display: none;
}

.undone {
    display: flex;
    width: 25%;
    flex-direction: column;
    align-items: center;
    opacity: 0.3;
}